// $navbar-default-bg: #a2a2a2;


//Import bootstrap-sprockets
@import "bootstrap-sprockets";

// Import cerulean variables
@import "bootswatch/united/variables";

// Then bootstrap itself
@import "bootstrap";

// And finally bootswatch style itself
@import "bootswatch/united/bootswatch";

.center{
  text-align: center;
}
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  bottom: 0
}
footer ul {
  float: right;
  list-style: none;

}

.article-actions{
  border-top: 1px solid #eaeaea;
  padding-top: 5px
}
.article-meta-detals{
  border-top: 1px solid #eaeaea;
  margin-top: 15px
}
